div.heading {
  background: $crimson;
  padding: 2.5% 0;
  margin: 0;
}

.heading h1 {
  color: $babyPowder;
}

.headingBlue h1 {
  color: $babyPowder;
}

div.headingBlue {
  background: $deepBlue;
  padding: 2.5% 0;
  margin: 0;
}
